<table class="table table-condensed table-striped">
  <th>
    <td>Task #1</td>
    <td>Task #2</td>
    <td>Task #3</td>
    <td>Task #4</td>
    <td>Refactoring</td>
  </th>
  <% @users.each do |u| %>
    <tr>
      <td>
        <%= link_to u.name, statistics_user_path(u) %>
      </td>
      <% u.exercises.reverse_each  do |e| %>
        <td class="success">
          <a href=
          <%= "https://github.com/#{u.name}/#{u.repo}/releases/#{e.name}" %>>
           <%= e.name %>
         </a>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
