<table>
  <% @users.each do |u| %>
    <tr>
      <td><%= u.name %></td>
      <% u.exercises.reverse_each  do |e| %>
        <td class="exercise-success">
          <a href=
          <%= "https://github.com/#{u.name}/#{u.repo}/releases/#{e.name}" %>>
           <%= e.name %>
         </a>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
