<h1>Repository</h1>
<table>
  <th>
    <td>Complexity</td>
    <td>Functional score</td>
    <td>Length</td>
  </th>
  <% @statistics.each do |stat| %>
    <tr>
      <td><%= stat.method_name %></td>
      <td><%= stat.method_complexity %></td>
      <td><%= stat.method_functional_score %></td>
      <td><%= stat.method_length %></td>
    </tr>
  <% end %>
</table>
