<h3><%= link_to @project.repo, "https://github.com/#{@project.repo}"%></h3>

<% @activity.commits_frequency(5).each do |k,v| %>

  <div class="panel panel-default">
    <div class="panel-heading">Коммиты <span class = "label label-default"> <%= k %> </span> за 5 дней</div>
    <div class="panel-body">
      <% v.each do |sha| %>
        <%= link_to sha,"https://github.com/#{@project.repo}/commit/#{sha}" %> <br>
      <% end %>
    </div>
  </div>

<% end %>
