// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.exercise-success {
  padding: 10px;
  background-color: #D1FFA3;
  margin: 3px;
}
.add-user {
  margin-top: 8px;
}

.update-repos-btn {
  margin-top: 8px;
}

.commits-block {
  padding: 10px;
}

.elapsed-time:hover {
  color: green;
}

.user-chart:hover {
  cursor: pointer;
}
